*{
    margin: 0px;
    padding:0px;
}
.wrapper{
    background-color:bisque ;
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.container{
    padding-top: 5rem; 
    background-color:rgb(254, 196, 124);
    border-radius: 20px;
    width: 90%;
    height: 88%;
    align-items: center; 
    align-content: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    overflow:scroll;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 5px;
    background-color: rgb(206, 148, 33);
    border: 2px solid brown;
    width: 15%;
    height: 35%;
}
.images{
    border: 1px solid brown;
    box-sizing: border-box;
    background-color: red;
    width: 85%;
    height: 91%;
    margin: 2px;
    border-radius: 10px;

}

:hover .card{
    cursor:pointer;
}